<!DOCTYPE html>
<html lang="en">

<head>
  <title>World Happiness</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<!-- navbar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/index.html">World Happiness</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Charts<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="world_map.html">World Map</a></li>
          <li><a href="radar_chart.html">Radar Chart</a></li>
          <li><a href="line_chart.html">Line Chart</a></li>
          <li><a href="/data">Data</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<!-- /navbar -->

  <div class = "container">
    <div class ="row">
      <div class = "col-xl-12">
        <div class = "col-md-12">
          <br>
            <div class = "h1">World Happiness Report</div>
              <p>
                The purpose of this project is review the state of happiness in individual countries
                and show how new sciences of happiness explain persona and national variations in happiness. By using data visualizations,
                we can illustrate the state of global happiness based on public data from 2015 to 2019.
              </p>
            </div>
        </div>

      </div>

    </div>



</body>
</html>
